* {
  box-sizing: border-box;
}

.instances {
  display: flex;
  align-items: flex-start;
  column-gap: 96px;
  border-radius: 24px;
  padding: 96px;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-image: linear-gradient(
      180deg,
      #000000 0%,
      #000000f5 23.96%,
      #000000d9 50.52%,
      #000000a6 75.52%,
      #00000066 100%
    ),
    url(../image/mkhtbjix-9x2pcgh.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .heroiconsSolidRectan {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .sidebar {
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    overflow: hidden;

    .logo1 {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
    }

    .frame1 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 13px;
      margin-left: 13px;
      row-gap: 36px;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 24px;

    .topbar {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 32px;
      border: 1px solid var(--Strokes-Stroke-1, #ffffff1a);
      border-radius: 16px;
      background: var(--FG-Foreground-1);
      padding: 11px 63px;
      overflow: hidden;
      background-image: linear-gradient(180deg, #0f0f0fbf 0%, #0f0f0fe5 100%);
      backdrop-filter: blur(64px);

      .a01 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;

        .createInstance {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text, #dedede);
          font-family: Outfit, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      border: 1px solid var(--Strokes-Stroke-1, #ffffff1a);
      border-radius: 16px;
      background: var(--FG-Foreground-1);
      padding: 63px;
      overflow: hidden;
      row-gap: 48px;
      background-image: linear-gradient(180deg, #0f0f0fbf 0%, #0f0f0fe5 100%);
      backdrop-filter: blur(64px);

      .group1 {
        flex-shrink: 0;
        line-height: 26px;
        letter-spacing: 0;
        color: var(--Text, #dedede);
        font-family: Outfit, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 21px;
        font-weight: 600;
      }

      .frame2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 16px;
        margin-right: 1341px;
      }

      .frame23 {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 32px;
        row-gap: 32px;

        .addictive1202 {
          margin: 148px 0px 0px 24px;
          line-height: 26px;
          letter-spacing: 0;
          color: var(--Text, #dedede);
          font-family: Outfit, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 21px;
          font-weight: 600;
        }

        .frame8 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          border-radius: 9px;
          padding-bottom: 28px;
          width: 431px;
          overflow: hidden;
          background-image: linear-gradient(
              180deg,
              #00000000 0%,
              #000000cc 100%
            ),
            url(../image/mkhtbjix-jmkjesv.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .frame12 {
            display: flex;
            align-items: center;
            column-gap: 48px;
            box-shadow: var(
              --Foreground-2-BG-Blur,
              inset 0px -6px 24px -2px #00000033,
              0px 0px 48px 0px #0000001c
            );
            background: var(--FG-Foreground-3);
            padding-right: 32px;
            padding-left: 32px;
            width: 432px;
            height: 64px;
            overflow: hidden;
            background-image: linear-gradient(
              180deg,
              #0c0c0c73 0%,
              #0c0c0c73 0.01%,
              #00000080 100%
            );
            backdrop-filter: blur(64px);

            .frame22 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 12px;
              border-radius: 10px;
              background: var(--FG-Foreground-3);
              padding: 8px 16px;
              background-image: linear-gradient(
                180deg,
                #0c0c0c73 0%,
                #0c0c0c73 0.01%,
                #00000080 100%
              );

              .running {
                flex-shrink: 0;
                line-height: 26px;
                letter-spacing: 0;
                color: var(--Text, #dedede);
                font-family: Outfit, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 15px;
              }
            }
          }
        }

        .frame9 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          border-radius: 9px;
          padding-bottom: 28px;
          width: 431px;
          overflow: hidden;
          background-image: linear-gradient(
              180deg,
              #00000000 0%,
              #000000cc 100%
            ),
            url(../image/mkhtbjix-4u4hime.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .frame122 {
            display: flex;
            align-items: center;
            column-gap: 48px;
            margin-left: -1px;
            box-shadow: var(
              --Foreground-2-BG-Blur,
              inset 0px -6px 24px -2px #00000033,
              0px 0px 48px 0px #0000001c
            );
            background: var(--FG-Foreground-3);
            padding-right: 32px;
            padding-left: 32px;
            width: 432px;
            height: 64px;
            overflow: hidden;
            background-image: linear-gradient(
              180deg,
              #0c0c0c73 0%,
              #0c0c0c73 0.01%,
              #00000080 100%
            );
            backdrop-filter: blur(64px);

            .subtract {
              flex-shrink: 0;
              width: 21px;
              height: 21px;
            }
          }
        }

        .frame10 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-end;
          column-gap: 10px;
          border-radius: 9px;
          padding: 24px;
          width: 431px;
          height: 266px;
          overflow: hidden;
          background-image: linear-gradient(
              180deg,
              #00000000 0%,
              #000000cc 100%
            ),
            url(../image/mkhtbjix-4u4hime.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
